@import '../../styles/base/base';

@mixin ratingbox($background, $element, $width) {
    align-items: center;
    background-color: $background;
    border-radius: 8px;
    box-sizing: border-box;
    color: $element;
    cursor: pointer;
    display: flex;
    font-size: $size-14;
    font-weight: 700;
    height: 32px;
    justify-content: space-between;
    overflow: hidden;
    padding: 8px 12px;
    width: $width;
}

.rating {
    $_this: &;

    &__input {
        display: none;
    }

    button {
        background-color: $transparent;
        border: 0;
        padding: 0;
    }

    &__star {
        cursor: pointer;
        margin: 0 8px 0 0;
        padding-bottom: 9px;
        padding-top: 13px;
        position: relative;
    }

    &__collapse {
        @include ratingbox($color-yellow, $color-pickled-bluewood, 65px);
        #{$_this}__star-box {
            margin-top: 152px;
        }
    }

    &__expand {
        @include ratingbox($color-yellow, $color-pickled-bluewood, 65px);
        overflow: visible;
        width: 145px;

        #{$_this}__star-box #{$_this}__star {
            margin: 4px 0 0;
            padding: 3px;
        }

        #{$_this}__star-box {
            margin-left: 1px;
        }
    }
}

.second-rating-height {
    margin-top: 77px;
}

.third-rating-height {
    margin-top: 152px;
}

.fourth-rating-height {
    margin-top: 228px;
}

.fifth-rating-height {
    margin-top: 304px;
}
