@import '../../styles/base/base';

.reservations {
    margin: 0 auto;
    max-width: 1265px;

    &__header {
        color: $color-fiord;
        font-size: $size-36;
        font-weight: $weight-bold;
        margin: 0 0 24px;
        text-transform: capitalize;
    }

    &__section {
        display: flex;

        &--column {
            @media (max-width: $breakpoint-tablet-landscape) {
                flex-direction: column;
            }
        }
    }

    &__side-filters {
        box-sizing: content-box;
        flex-shrink: 0;
        margin: 0 40px 0 0;
        width: 285px;

        @media (max-width: $breakpoint-tablet-landscape) {
            margin: 0 0 50px;
            width: 100%;
        }
    }

    &__list {
        width: 100%;
    }

    &__category-cards {
        column-gap: $column-gap-small;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 45px 0 60px;

        @media (max-width: $breakpoint-tablet-landscape) {
            margin: 60px 0 0;
        }
    }
}

.modal {
    &__section-heading {
        font-weight: $weight-medium;
        margin-bottom: 0;
    }

    &__paragraph {
        margin-top: 10px;
        text-align: justify;
    }

    &__interaction {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }
}
