@import '../../styles/base/base';
@import '../../styles/mixins/mixins';

.restaurant-interactions-banner {
    &__banner-flex {
        align-items: center;
        display: flex;
        height: 64px;
        justify-content: space-between;
        padding: 0 16px;
    }

    &__rating-heart {
        align-items: center;
        display: flex;
    }

    &__heart-button-box {
        padding-left: 10px;
    }

    &__check-in-textbox {
        color: $color-fiord;
        font-size: $size-14;
        font-weight: 700;
        line-height: 1.15;
        text-transform: uppercase;
    }

    @media (max-width: 910px) {
        &__banner-flex {
            height: 120px;
        }

        &__check-in-textbox {
            text-align: center;
            width: 40%;
        }

        &__rating-heart,
        &__link-button {
            @include flex-center-column;
        }

        &__heart-button-box {
            padding: 10px 0 0;
        }
    }

    &__modal-input {
        margin-top: -15px;
    }

    &__modal-button {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
    }
}
