@import '../../../../styles/base/typography';
@import '../../../../styles/base/colors';

$_transperent-black-3: rgba(0, 0, 0, 0.3);
$_size-60: 60px;
$_transperent-black-7: #000000b3;

.weather {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: flex-end;

    &__temperature {
        align-items: baseline;
        display: flex;
    }

    &__degrees {
        color: $_transperent-black-7;
        font-size: $_size-60;
        font-weight: 300;
    }

    &__type {
        color: $transperent-black-5;
        font-size: $size-20;
        font-weight: 300;
    }

    &__information {
        border-top: 1px solid $_transperent-black-3;
        color: $transperent-black-5;
        display: flex;
        font-size: $size-12;
        font-weight: 300;
        width: 81%;

        .item {
            align-items: center;
            display: flex;
            flex-grow: 1;
            margin-top: 8px;

            &__text {
                margin-left: 5px;
            }
        }
    }
}
