@import '../../styles/base/base';

.card-container {
    background-color: $color-white;
    border-radius: 8px;

    &--shadow {
        box-shadow: 0 2px 6px $transperent-black-25;
    }

    &--colored {
        background-color: $color-porcelain;
        border-radius: 5px;
        box-shadow: 0 2px 6px $transperent-black-25;
    }
}
