@import '../../styles/base/base';
$_size-large: 32px;

.search-section {
    margin-bottom: 100px;
    padding: 40px;

    &__title {
        color: $color-fiord;
        font-size: $_size-large;
        font-weight: $weight-medium;
        margin: 0;
    }

    &__tag-wrapper {
        display: flex;
        padding-bottom: 16px;
        padding-top: 24px;
    }

    &__datepicker-label {
        align-self: end;
        color: $color-grey-chateau;
        font-weight: $weight-bold;
        text-transform: uppercase;

        @media (max-width: $breakpoint-tablet) {
            margin-top: 16px;
            order: 3;
        }
    }

    &__search-filter-section {
        column-gap: $column-gap-small;
        display: grid;
        grid-template-columns: 4fr 2fr;
        row-gap: 8px;

        @media (max-width: $breakpoint-tablet) {
            display: flex;
            flex-direction: column;
        }
    }

    &__search-button {
        align-items: center;
        display: flex;
        font-size: $size-16;
        grid-row-start: 2;

        @media (max-width: $breakpoint-tablet) {
            margin-top: 8px;
            order: 5;
            width: 130px;
        }
    }

    &__search-button-icon {
        padding-right: 5px;

        path {
            stroke: $color-white;
        }
    }

    @media (max-width: 1024px) {
        margin-bottom: 50px;
    }
}
