$color-black: #000;
$color-white: #fff;
$transparent: transparent;

$color-alabaster: #fafafa;
$color-electric-violet: #6e44ff;
$color-fiord: #3e5067;
$color-geyser: #d3dce6;
$color-grey-chateau: #9ea7b3;
$color-mercury: #e5e5e5;
$color-midnight: #001836;
$color-mirage: #1f2d3d;
$color-pickled-bluewood: #31465e;
$color-porcelain: #f6f7f8;
$color-purple-heart: #5836cc;
$color-regent-gray: #8492a6;
$color-silver: #c4c4c4;
$color-slate-grey: #6a7889;
$color-ghost: #cacfd5;
$color-iron: #dcdfe3;
$color-heather: #c2cedb;

$color-blue-dark: #001836;
$color-grey-8: #627485;
$color-grey-7: #3e5067;
$color-grey-6: #6a7889;
$color-grey-5: #94a3ad;
$color-grey-4: #cacfd5;
$color-grey-3: #dcdfe3;
$color-grey-2: #edeff1;
$color-grey-1: #f6f7f8;
$color-grey-90: #e5e5e5;
$color-red: #ff6e75;
$color-red-darker: #e56369;
$color-red-darkest: #cc585d;
$color-yellow: #fadb5e;

$color-purple-dark: #6e44ff;
$color-hover-purple: #5836cc;
$color-active-purple: #462ca3;
$color-post-reaction-text: #627485;

$transperent-black-5: #00000080;
$transperent-black-25: #00000040;

$color-link: $color-regent-gray;
$color-link-hover: $color-mirage;
